@import 'mixins.scss';

body {
    margin: 0;
}

.oscuro {
    background: #37383C;
    @include header();
    //SECTION 1 - PAGINA PRINCIPAL
    .container {
        .title {
            color: white;
        }
        .paragraph {
            color: white;
        }
        .gifs-paragraph {
            color: white;
        }
        .search {
            background-color: #37383C;
            border: 1px solid white;
            .search-container {
                background: #37383C;
                .search-input  {
                    background: #37383C;
                    color: white;
                }
                .search-icon {
                    background-color: #37383C;
                    .fa-search {
                        color: white;
                    }
                }
            }
            .search-autocomplete_list{
                background-color: #37383C;
                color: white;
            }
        }
    }
    //FAVORITOS&GIFOS - SEGUNDA&TERCERA PAGINA
    
    .gifs {
        &-paragraph {
            color: white;
        }
    }
    .view {
        &-section_img {
            background: #37383C;
        }
        .button {
            .button-more {
                background: #37383C;
                color: white;
                border: 1px solid white;
            }
        }
    }

    //CREAR GIFOS - CUARTA PAGINA
    .creating {
        &__cam {
            &--day {
                display: none;
            }
            &--night {
                display: inline;
            }
        }
        &__written {
            border: 1px solid white;
            &--title {
                color: white;
            }
            &--paragraph {
                color: white;
            }
        }
        &__options {
            &--circle {
                border:1px solid white;
                &--number {
                    color: white;
                }
            }
        }
        &__film {
            &--day {
                display: none;
            }
            &--night {
                display: inline;
                padding-bottom: 1em;
            }
        }
        &__written::before {
            background-color: white;
        }
        &__button {
            &--start {
                border: 1px solid white;
                color: white;
                background: #37383C;
            }
        }
    }

    //TRENDING

    .gifos {
        background: #000000;
        .gifos-title, .gifos-paragraph {
            color: white;
        }
    }

    //FOOTER

    .end {
        background: #000000;
        .end-content {
            background: #37383C;
            .end-share, .end-author {
                color: white;
            }
        }
    }
}