@media screen and (min-width: 375px) {
  .container .searchGif {
    text-align: center;
  }
  .container .searchGif_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .searchGif_container-img {
    width: 156px;
    height: 120px;
    margin: 0 10px 25px 10px;
  }
  .container .search .search-container .search-input {
    width: 420px;
  }
  .creating__written .left__up {
    top: 28%;
    left: 13%;
  }
  .creating__written .right__up {
    top: 28%;
    right: 13%;
  }
  .creating__written .left__down {
    bottom: 43%;
    left: 13%;
  }
  .creating__written .right__down {
    bottom: 43%;
    right: 13%;
  }
  .view-section_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .view-section_img .img-gif {
    padding: 0 0 25px 21px;
  }
}

@media screen and (min-width: 768px) {
  .init {
    width: 100%;
    height: 100px;
    background: #572EE5;
    padding-top: 5px;
  }
  .init-navigation {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .init-navigation .logo_mobile {
    padding: 18px 0 12px 50px;
  }
  .init-navigation .menuToggle,
  .init-navigation .iconToggle,
  .init-navigation .iconToggle::after,
  .init-navigation .iconToggle::before,
  .init-navigation .line {
    display: none;
  }
  .init-navigation .menuInner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    height: 80px;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  .init-navigation .menuInner_list {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    width: auto;
    padding-left: 50px;
  }
  .init-navigation .menuInner-link, .init-navigation .menuInner-link_style {
    margin: 36px 0 38px 0;
    font-size: 13px;
    color: #572EE5;
    text-transform: uppercase;
  }
  .init-navigation .menuInner-link:hover, .init-navigation .menuInner-link_style:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .init-navigation .menuInner-link:active, .init-navigation .menuInner-link_style:active {
    color: #9CAFC3;
    border-bottom: 0;
  }
  .init-navigation .menuInner-linkCreate {
    display: none;
  }
  .init-navigation .menuInner .create {
    display: inline-block;
    background: #FFFFFF;
    padding: 19px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    margin: 0 50px 0 60px;
    padding-top: 18px;
  }
  .init-navigation .menuInner .create:hover {
    background: #572EE5;
    color: white;
  }
  .init-navigation .menuInner .create:active {
    background: #9CAFC3;
    border: 1px solid #9CAFC3;
  }
  .container .title {
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    width: 570px;
    padding: 0;
    margin: 76px 0 24px 0;
  }
  .container .ilustration {
    width: 399px;
  }
  .container .search {
    width: 551px;
  }
  .container .searchGif_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .container .searchGif_container-img {
    max-width: 200px;
    height: 150px;
  }
  .container .trending_topics {
    margin-top: 73px;
    margin-bottom: 95px;
  }
  .container .trending_topics-title {
    font-size: 18px;
  }
  .container .trending_topics-words {
    font-size: 16px;
  }
  .gifs-logo {
    padding: 11px 0 8px 0;
  }
  .gifs-paragraph {
    margin-bottom: 36px;
  }
  .favorites__withoutResults--paragraph {
    width: 430px;
    font-size: 22px;
    margin-bottom: 140px;
  }
  .gifos .gifos-title {
    font-size: 25px;
  }
  .gifos .gifos-paragraph {
    font-size: 18px;
  }
  .gifos .card .card-container {
    height: 275px;
    margin: 0 0 182px 28px;
  }
  .gifos .card .card-container .card-gif {
    width: 357px;
    height: 275px;
  }
  .creating__written--border {
    width: 20px;
    height: 20px;
  }
  .creating__written .left__up {
    top: 23%;
    left: 12%;
  }
  .creating__written .right__up {
    top: 23%;
    right: 12%;
  }
  .creating__written .left__down {
    bottom: 35%;
    left: 12%;
  }
  .creating__written .right__down {
    bottom: 35%;
    right: 12%;
  }
  .creating__line::after {
    top: 88%;
  }
  .oscuro .init-navigation {
    background: #37383C;
  }
  .oscuro .init-navigation .menu {
    background: #37383C;
  }
  .oscuro .init-navigation .menu .menuInner {
    background: #37383C;
  }
  .oscuro .init-navigation .menu .menuInner-link, .oscuro .init-navigation .menu .menuInner-link_style {
    color: white;
  }
  .oscuro .init-navigation .menu .menuInner .create {
    background: #37383C;
    border: 1px solid white;
    color: white;
  }
  .end {
    height: 121px;
  }
  .end-content {
    height: 116px;
    padding: 0;
    font-size: 13px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .end-content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .end-content .info .end-share {
    margin: 0;
    margin-right: 17px;
  }
  .end-content .info .end-icons .end-link {
    color: #CDD6E0;
  }
  .end-content .info .end-icons .end-link .fab {
    width: 20px;
    height: 20px;
  }
  .end-content .info .end-icons .end-link .fa-twitter {
    padding: 0 19px 0 19px;
  }
  .end-content .info .end-icons .end-link:hover {
    color: #572EE5;
  }
  .end-content .end-author {
    font-size: 13px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1024px) {
  .init-navigation .logo_mobile {
    padding: 18px 0 12px 156px;
  }
  .container .searchGif_container-img {
    width: 260px;
    height: 200px;
  }
  .creating {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 1fr 220px;
        grid-template-columns: 220px 1fr 220px;
    -ms-grid-rows: 390px 75px 97px;
        grid-template-rows: 390px 75px 97px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "cam written ." ". options film" ". btn .";
  }
  .creating__cam {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cam;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__written {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: written;
    margin-top: 4px;
    width: 100%;
    max-width: 688px;
    height: 386px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__written .left__up {
    top: 3%;
    left: 23%;
  }
  .creating__written .right__up {
    top: 3%;
    right: 23%;
  }
  .creating__written .left__down {
    bottom: 33%;
    left: 23%;
  }
  .creating__written .right__down {
    bottom: 33%;
    right: 23%;
  }
  .creating__written--title {
    padding: 134px 68px 3px 70px;
    font-size: 25px;
    margin: 0;
  }
  .creating__written--paragraph {
    font-size: 16px;
  }
  .creating__options {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: options;
    padding: 24px 0 19px 0;
  }
  .creating__film {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: film;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__line::after {
    top: 83%;
    width: 64%;
    left: 18%;
  }
  .creating__button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .creating {
    -ms-grid-columns: 220px 688px 220px;
        grid-template-columns: 220px 688px 220px;
  }
  .creating__film {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__line::after {
    width: 54%;
    left: 23%;
  }
  .creating__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.creating {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creating__cam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.creating__cam--night {
  display: none;
}

.creating__written {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 300px;
  border: 1px solid #572EE5;
}

.creating__written--border {
  width: 15px;
  height: 15px;
}

.creating__written .left__up {
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  position: absolute;
  top: 26.5%;
  left: 15%;
}

.creating__written .right__up {
  border-top: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  position: absolute;
  top: 26.5%;
  right: 15%;
}

.creating__written .left__down {
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  position: absolute;
  bottom: 41%;
  left: 15%;
}

.creating__written .right__down {
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  position: absolute;
  bottom: 41%;
  right: 15%;
}

.creating__written--title {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
  margin-bottom: 1em;
}

.creating__written--titleDecoration {
  color: #5ED7C6;
}

.creating__written--paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding-bottom: 1em;
}

.creating__written--paragraph .breakpoint::before {
  content: '\A';
  white-space: pre;
}

.creating__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creating__options--circle {
  margin: 10px;
  border: 1px solid #572EE5;
  border-radius: 50%;
  padding: 6px 10px;
}

.creating__options--circle .number {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #572EE5;
  font-weight: 500;
  text-align: center;
  margin: 0;
  border: 0;
}

.creating__options .active {
  margin: 10px;
  border-radius: 50%;
  padding: 6px 10px;
  background: #572EE5;
}

.creating__options .active .number {
  color: white;
}

.creating .creating__timer--repeat .creating__repeat {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  border-bottom: 2px solid #5ED7C6;
}

.creating__film {
  position: relative;
  margin: 1em;
}

.creating__film--day {
  padding-bottom: 1em;
}

.creating__film--night {
  display: none;
}

.creating__line::after {
  content: '';
  position: absolute;
  top: 85%;
  left: 7%;
  width: 85%;
  height: 7px;
  background-color: #572EE5;
  bottom: 0;
}

.creating__button {
  padding: 20px 0;
}

.creating__button--options {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}
/*# sourceMappingURL=creating.css.map */