.creating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creating__cam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.creating__cam--night {
  display: none;
}

.creating__written {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  border: 1px solid #572EE5;
}

.creating__written--title {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
  margin-bottom: 1em;
}

.creating__written--titleDecoration {
  color: #5ED7C6;
}

.creating__written--paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding-bottom: 1em;
}

.creating__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creating__options--circle {
  margin: 10px;
  border: 1px solid #572EE5;
  border-radius: 50%;
  padding: 6px 10px;
}

.creating__options--circle--number {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #572EE5;
  text-align: center;
  margin: 0;
}

.creating__film {
  position: relative;
  margin: 1em;
}

.creating__film--day {
  padding-bottom: 1em;
}

.creating__film--night {
  display: none;
}

.creating__written::before {
  content: "";
  position: absolute;
  width: 80%;
  top: 94%;
  height: 7px;
  background-color: #572EE5;
  bottom: 0;
}

.creating__button {
  padding: 20px 0;
}

.creating__button--start {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

@media screen and (min-width: 375px) {
  .creating__written::before {
    top: 86%;
  }
}

@media screen and (min-width: 1024px) {
  .creating {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 1fr 220px;
        grid-template-columns: 220px 1fr 220px;
    -ms-grid-rows: 390px 67px 97px;
        grid-template-rows: 390px 67px 97px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "cam written ." ". options film" ". btn .";
  }
  .creating__cam {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cam;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__written {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: written;
    margin-top: 4px;
    width: 100%;
    max-width: 688px;
    height: 386px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__written--title {
    padding: 134px 68px 3px 70px;
    font-size: 25px;
    margin: 0;
  }
  .creating__written--paragraph {
    font-size: 16px;
  }
  .creating__options {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: options;
  }
  .creating__film {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: film;
  }
  .creating__button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__written::before {
    top: 73%;
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .creating {
    -ms-grid-columns: 220px 688px 220px;
        grid-template-columns: 220px 688px 220px;
  }
  .creating__written::before {
    width: 55%;
  }
  .creating__film {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/*.creating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .written {
        padding: 134px 68px 128px;
        border: 1px solid #572EE5;
        .text-creating {
            font-family: $mont;
            font-weight: 700;
            font-size: 25px;
            color: #572EE5;
            text-align: center; 
            line-height: 35px;
            margin: 0;
            margin-bottom: 3px;
            width: 550px;
        }
        .text-decoration {
            color: #5ED7C6;
        }
        .paragraph-creating {
            font-family: $robot; 
            font-size: 16px;
            color: #000000;
            text-align: center;
            line-height: 29px;
            margin: 0;
        }
    }
    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .circle {
            border: 1px solid #572EE5;
            border-radius: 50%;
            .number {
                font-family: $robot;
                font-size: 18px;
                color: #572EE5;
                text-align: center;
                padding: 6px 11ppx 6px 11px;
            }
        }
    }
}*/
/*# sourceMappingURL=creating.css.map */