@import 'variables.scss';


.creating {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__cam {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1em;
        &--night {
            display: none;
        }
    }
    &__written {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        border: 1px solid #572EE5;
        &--title {
            padding: 1em;
            font-family: $mont;
            font-weight: 700;
            font-size: 20px;
            color: #572EE5;
            text-align: center; 
            line-height: 35px;
            margin-bottom: 1em;
        }
        &--titleDecoration {
            color: #5ED7C6;
        }
        &--paragraph {
            font-family: $robot; 
            font-size: 13px;
            color: #000000;
            text-align: center;
            line-height: 20px;
            margin: 0;
            padding-bottom: 1em;
        }
    }
    &__options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &--circle {
            margin: 10px;
            border: 1px solid #572EE5;
            border-radius: 50%;
            padding: 6px 10px;
            &--number {
                font-family: $robot;
                font-size: 13px;
                color: #572EE5;
                text-align: center;
                margin: 0;
            }
        }
    }
    &__film {
        position: relative;
        margin: 1em;
        &--day {
            padding-bottom: 1em;
        }
        &--night {
            display: none;
        }
    }

    &__written::before {
        content: "";
        position: absolute;
        width: 80%;
        top: 94%;
        height: 7px;
        background-color: #572EE5;
        bottom: 0;
    }
    &__button {
        padding: 20px 0;
        &--start {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }
}


/*.creating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .written {
        padding: 134px 68px 128px;
        border: 1px solid #572EE5;
        .text-creating {
            font-family: $mont;
            font-weight: 700;
            font-size: 25px;
            color: #572EE5;
            text-align: center; 
            line-height: 35px;
            margin: 0;
            margin-bottom: 3px;
            width: 550px;
        }
        .text-decoration {
            color: #5ED7C6;
        }
        .paragraph-creating {
            font-family: $robot; 
            font-size: 16px;
            color: #000000;
            text-align: center;
            line-height: 29px;
            margin: 0;
        }
    }
    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .circle {
            border: 1px solid #572EE5;
            border-radius: 50%;
            .number {
                font-family: $robot;
                font-size: 18px;
                color: #572EE5;
                text-align: center;
                padding: 6px 11ppx 6px 11px;
            }
        }
    }
}*/