@import 'variables.scss';

.end {
    height: 201px;
    background: #572EE5;
    &-content {
        padding: 47px 0 23px 0;
        background: white;
        font-family: $robot;
        font-size: 15px;
        letter-spacing: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .info{
            .end-share {
                margin: 0;
                margin-bottom: 24px;
            }
            .end-icons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .end-link {
                    color: #CDD6E0;
                    .fab {
                        width: 18px;
                        height: 16.2;
                    }
                    .fa-twitter {
                        padding: 0 19px 47.8px 19px;
                    }
                }
            }
        }
        .end-author {
            font-size: 14px;
            line-height: 20px;
            margin: 0;
        }
    }
}