@import 'variables.scss';
@import 'mixins.scss';


.gifos {
    background: #F3F5F8;
    margin: 0;
    .gifos-title {
        margin-top: 0;
        padding-top: 46px;
        padding-bottom: 7px;
        font-family: $mont;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }
    .gifos-paragraph {
        font-family: $robot;
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 23px;
        padding-bottom: 32px;
        margin: 0;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto;
        .card-container {
            position: relative;
            margin: 0 0 82px 22px;
            .card-gif {
                width: 243px;
                height: 187px;
            }
            .card-gif_link {
                .icon-fav{
                    @include icon($right: 90px);
                }
                .icon-download{
                    @include icon($right: 40px);
                    margin: 0 10px;
                }
                .icon-max{
                    @include icon();
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: #572EE5;
                .information__gif {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    &--user {
                        font-size: 1em;
                        color: white;
                    }
                    &--title {
                        font-size: 1em;
                        color:  white;
                    }
                }
            }
        }
        .card-container:hover {
            cursor: pointer;
            .hidden {
                display: block;
            }
            .overlay{
                opacity: 0.6;
            }
            .card-gif_link {
                .icon-fav:hover, .icon-download:hover, .icon-max:hover {
                    opacity: 1;
                }
            } 
        }
            
    }
}