@import 'variables.scss';

.gifos {
    background: #F3F5F8;
    margin: 0;
    .gifos-title {
        margin-top: 0;
        padding-top: 46px;
        padding-bottom: 7px;
        font-family: $mont;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }
    .gifos-paragraph {
        font-family: $robot;
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 23px;
        padding-bottom: 32px;
        margin: 0;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto;
        .card-gif {
            width: 243px;
            height: 187px;
            padding: 0 0 84px 22px;
        }
    }
}