@import 'variables.scss';
@import 'mixins.scss';

.gifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    .gifs-logo {
        padding: 5px 0 7px 0;
    }
    .gifs-paragraph {
        font-family: $mont;
        font-weight: 700;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
        margin: 0;
        margin-bottom: 46px;
    }
}

.favorites__withoutResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heart {
        width: 76px;
        height: 54px;
        padding: 47px 37px;
        border-radius: 50%;
        background: #F3F5F8;
    }
    &--paragraph {
        width: 300px;
        font-family: $mont;
        font-size: 16px;
        color: #50E3C2;
        text-align: center;
        line-height: 33px;
        margin-bottom: 70px;
    }
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-section_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-gif {
            width: 156px;
            height: 120px;
            padding-bottom: 21px;
        }
    }
    
    @include btn();

    /*.button {
        padding: 57px 0 78px;
        &-more {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }*/
}

.hidden {
    display: none;
}
