@import 'variables.scss';
@import 'mixins.scss';

@media screen and (min-width: 375px) {
    .container{
        .searchGif {
            text-align: center;
            flex-flow: row wrap;
            justify-content: center;
            &-img { 
                width: 156px;
                height: 120px;
                margin: 0 10px 25px 10px;
            }
        }
        .search {
            .search-container {
                .search-input {
                    width: 420px;
                }
            }
        }
    }
    
    .creating {
        &__written::before {
            top: 86%;
        }
    }
}

@media screen and (min-width: 768px) {
    .init {
        width: 100%;
        height: 100px;
        background: #572EE5;
        padding-top: 5px;
        &-navigation {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            .logo_mobile {
                padding: 18px 0 12px 50px;
            }
            @include menu($margin: 0 50px 0 60px);
            
        }
    }

    .container {
        .title {
            font-size: 35px; 
            text-align: center;
            line-height: 50px;
            width: 570px;
            padding: 0;
  
            margin: 76px 0 24px 0;
        }
        .ilustration {
            width: 399px;
        }
        .search {
            width: 551px;
        }
        .searchGif {   
            &-img {   
                max-width: 200px;
                height: 150px;
            }
        }
        .trending_topics {
            margin-top: 73px;
            margin-bottom: 95px;
            &-title {
                font-size: 18px;
            }
            &-words {
                font-size: 16px;
            }
        }
    }

    .gifs {
        &-logo {
            padding: 11px 0 8px 0;
        }
        &-paragraph {
            margin-bottom: 36px;
        }
    }
    
    .gifos {
        .gifos-title {
            font-size: 25px;
        }
        .gifos-paragraph {
            font-size: 18px;
        }
        .card {
            .card-container {
                .card-gif {
                    height: 275px;
                    margin: 0 0 182px 28px;
                }
            }
        }
    }

    .oscuro {
        @include header-desktop();
    }
    
    .end {
        height: 121px;
        &-content {
            height: 116px;
            padding: 0;
            font-size: 13px;
            flex-direction: row;
            justify-content: space-around;
            .info {
                display: flex;
                flex-direction: row;
                .end-share {
                    margin: 0;
                    margin-right: 17px;
                }
                .end-icons {
                    .end-link {
                        color: #CDD6E0;
                        .fab {
                            width: 20px;
                            height: 20px;
                        }
                        .fa-twitter {
                            padding: 0 19px 0 19px;
                        }
                    }
                    .end-link:hover {
                        color: #572EE5;
                    }
                }
            }
            .end-author {
                font-size: 13px;
                letter-spacing: 0;
            }
        } 
    }
}

@media screen and (min-width: 1024px) {
    .init {
        &-navigation {
            .logo_mobile {
                padding: 18px 0 12px 156px;
            }
        }
    }
    
    .container {
        .searchGif {   
            &-img {   
                max-width: 260px;
                height: 200px;
            }
        }
    }

    .creating {
        display: grid;
        grid-template-columns: 220px 1fr 220px;
        grid-template-rows: 390px 75px 97px;
        justify-content: center;
        grid-template-areas: "cam written ." ". options film" ". btn .";
        &__cam {
            grid-area: cam;
            justify-self: end;
        }
        &__written {
            grid-area: written;
            margin-top: 4px;
            width: 100%;
            max-width: 688px;
            height: 386px;
            justify-self: center;
            &--title {
                padding: 134px 68px 3px 70px;
                font-size: 25px;
                margin: 0;
            }
            &--paragraph {
                font-size: 16px;
                
            }
        }
        &__options {
            grid-area: options;
            padding: 24px 0 19px 0;
        }
        &__film {
            grid-area: film;
        }
        &__button {
            grid-area: btn;
            justify-self: center;
        }
        &__written::before {
            top: 73%;
            width: 60%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .creating {
        grid-template-columns: 220px 688px 220px;
        &__written::before {
            width: 55%;
        }
        &__film {
            justify-self: end;
        }
        &__button {
            justify-self: center;
        }
    }
}