@import 'variables.scss';

@mixin menu($margin: 0 156px 0 60px, $border: 1px solid #572EE5, $background: #FFFFFF, $color: #572EE5,) {
    .menuToggle, 
    .iconToggle,
    .iconToggle::after,
    .iconToggle::before,
    .line {
        display: none;
    }
    .menuInner {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transition: none;
        height: 80px;
        background-color: $background;
        font-family: $mont;
        margin: 0;
        padding: 0;
        &_list {
            font-family: $mont;
            display: inline-block;
            font-weight: 700;
            letter-spacing: 0;
            text-align: center;
            width: auto;
            padding-left: 50px;
        }
        &-link, &-link_style {
            margin: 36px 0 38px 0;
            font-size: 13px;
            color: $color;
            text-transform: uppercase;
        }
        &-link:hover, &-link_style:hover {
            border-bottom: 2px solid #5ED7C6;
        }
        &-link:active, &-link_style:active {
            color: #9CAFC3;
            border-bottom: 0;
        }
        &-linkCreate {
            display: none;
        }
        .create {
            display: inline-block;
            background: $background;
            padding: 19px;
            border: $border;
            border-radius: 50%;
            margin: $margin;
            padding-top: 18px;
        }
        /*.create:hover {
            background: #572EE5;
            color: white;
        }
        .create:active {
            background: #9CAFC3;
            border: 1px solid #9CAFC3;
        }*/
    }
}

@mixin header() {
    .init {
        background: #000000;
        &-navigation {
            background: #37383C;
            .menuToggle {
                background: #37383C;
            }
            .iconToggle::after,
            .iconToggle::before,
            .iconToggle .line {
                background: white;
            }
        }
        .menu, .menuInner {
          background: #000000;
        }
    }
}

@mixin icon($right: 10px) {
    position: absolute;
    top: 10px;
    right: $right;
    padding: 8px 7px;
    opacity: 0.7;
    background: #FFFFFF;
    border-radius: 6px;
    z-index: 10;
}

@mixin header-desktop() {
    .init {
        &-navigation {
            background: #37383C;
            .menu {
                background: #37383C;
                .menuInner {
                    background: #37383C;
                    &-link, &-link_style {
                        color: white;
                    }
                    .create {
                        background:#37383C;
                        border: 1px solid white;
                        color: white;
                    }
                }
            }
        }
    }   
}

@mixin btn() {
    .button {
        padding: 57px 0 78px;
        &-more {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }
}


@mixin iconsTrending() {
    .card-gif_link {
        .icon-fav{
            @include icon($right: 90px);
        }
        .icon-download{
            @include icon($right: 40px);
            margin: 0 10px;
        }
        .icon-max{
            @include icon();
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #572EE5;
        .information__gif {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &--user {
                font-size: 1em;
                color: white;
            }
            &--title {
                font-size: 1em;
                color:  white;
            }
        }
    }
}

@mixin iconsGif() {
    .card-gif_link {
        .icon-fav{
            @include icon($right: 90px);
        }
        .icon-download{
            @include icon($right: 40px);
            margin: 0 10px;
        }
        .icon-max{
            @include icon();
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #572EE5;
        .information__gif {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &--user {
                font-size: 1em;
                color: white;
            }
            &--title {
                font-size: 1em;
                color:  white;
            }
        }
    }
}