.gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifs .gifs-logo {
  padding: 5px 0 7px 0;
}

.gifs .gifs-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin: 0;
  margin-bottom: 46px;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*.button {
        padding: 57px 0 78px;
        &-more {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }*/
}

.view-section_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-section_img .img-gif {
  padding-bottom: 21px;
}

.view .button {
  padding: 57px 0 78px;
}

.view .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

@media screen and (min-width: 375px) {
  .view-section_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .view-section_img .img-gif {
    padding: 0 0 25px 21px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title {
  margin: 0;
  padding-bottom: 31px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  padding-right: 44px;
  padding-left: 45px;
}

.container .title .decoration-title {
  color: #5ED7C6;
}

.container .ilustration {
  margin-left: 51px;
  margin-right: 51px;
  width: 273px;
}

.container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 3.125em;
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  /*.hidden {
      display: none;
    }*/
}

.container .search .search-container::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #9CAFC3;
  bottom: 0;
  width: 90%;
  left: 5%;
}

.container .search .search-container {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.125em;
  border-radius: 27px;
}

.container .search .search-container .search-input {
  width: 210px;
  border: 0;
  height: 3em;
  font-family: "Roboto", sans-serif;
  margin-left: 55px;
  font-size: 16px;
  text-align: left;
  outline-color: aqua;
}

.container .search .search-container .search-icon {
  margin-left: auto;
  margin-right: 1.5em;
  background-color: white;
  padding: 0;
  border: 27px;
  outline-color: aqua;
}

.container .search .search-container .search-icon .fa-search {
  width: 20px;
  height: 20px;
  color: #572EE5;
  outline-color: aqua;
}

.container .search .search-container .autocomplete-items {
  margin-left: 23px;
  position: absolute;
  width: 100%;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.container .search .search-container .autocomplete-items .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.container .search .search-autocomplete_list {
  width: 210px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin-left: 23px;
}

.container .search .search-autocomplete_list .search-autocomplete_items {
  list-style: none;
  margin-bottom: 10px;
}

.container .search .search-autocomplete_list .search-autocomplete_items .autocomplete-selected {
  color: #9CAFC3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
}

.container .search:focus {
  outline: solid #572EE5;
}

.container .trending_topics {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: 45px;
}

.container .trending_topics-title {
  font-size: 16px;
  font-weight: 700;
}

.container .trending_topics-words {
  list-style: none;
  padding: 10px;
}

.container .searchGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .searchGif .searchName {
  text-align: center;
  font-size: 3em;
}

.container .searchGif-img {
  width: 156px;
  height: 120px;
  margin-bottom: 21px;
}

.container .button {
  padding: 57px 0 78px;
}

.container .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

/*.autocomplete {
  position: relative;
  display: inline-block; 
}

input[type=text] {
  width: 100%;
}*/
/*.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}*/
/*.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}*/
/*# sourceMappingURL=section1.css.map */