@import 'variables.scss';
@import 'gifs.scss';

.container {    
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 0;
    padding-bottom: 31px;
    font-family: $mont;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    padding-right: 44px;
    padding-left: 45px;
    .decoration-title {
      color: #5ED7C6;
    }
  }
  .ilustration {
    margin-left: 51px;
    margin-right: 51px;
    width: 273px;
  }
  .search {
    display: flex;
    flex-direction: column;
    min-height: 3.125em;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    .search-container::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid #9CAFC3;
      bottom: 0;
      width: 90%;
      left: 5%;
    }
    .search-container{
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-height: 3.125em;
      border-radius: 27px;
      .search-input {
        width: 210px;
        border: 0;
        height: 3em;
        font-family: $robot;
        margin-left: 55px;
        font-size: 16px;
        text-align: left;
        outline-color: aqua;
      }
      .search-icon {
        margin-left: auto;
        margin-right: 1.5em;
        background-color: white;
        padding: 0;
        border: 27px;
        outline-color: aqua;
        .fa-search {
          width: 20px;
          height: 20px;
          color: #572EE5;
          outline-color: aqua;
        }
      }
      /*.autocomplete-items {
        margin-left: 23px;
        position: absolute;
        width: 100%;
        //border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff; 
          border-bottom: 1px solid #d4d4d4; 
        }
      }*/
    }
    .search-autocomplete_list{
      font-family: $robot;
      font-size: 16px;
      color: #000000;
      width: 210px;
      align-items: flex-start;
      padding: 0;
      margin-left: 23px;
      .search-autocomplete_items {
        list-style: none;
        margin-bottom: 10px;
        .autocomplete-selected {
          color: #9CAFC3;
          font-family: $robot;
          font-size: 16px;
          text-align: left;
        }
      }
    }  
  }
  .search:focus {     
    outline: solid #572EE5;
  }
  .trending_topics {
    font-family: $mont;
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin-top: 31px;
    margin-bottom: 45px;
    &-title {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
    }
    &-words {
      margin: 0;
      font-size: 14px;
      list-style: none;
      padding: 0 75px;
    }
    .trending_topics-words-list {
      display: inline;
      .topic_list {
        text-decoration: none;
        color: #572EE5;
      }
    }
    .trending_topics-words-list:nth-child(-n+4)::after{
      content: ', ';
    }
  }
  .searchGif {
    //display: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &_results-line {
      opacity: 0.5;
      border: 1px solid #9CAFC3;
    }
    &_name {
      font-family: $mont;
      font-size: 35px;
      color: #572EE5;
      text-align: center;
      line-height: 30px;
    }    
    &_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      &-img {
        width: 156px;
        height: 120px;
        margin-bottom: 21px;
      }
    }
  }
  .button {
    //display: none;
    padding: 57px 0 78px;
    &-more {
      border: 1px solid #572EE5;
      border-radius: 25px;
      border-radius: 25px;
      font-family: $mont;
      font-weight: 700;
      font-size: 13px;
      padding: 18px 31.5px 16px 32.5px;
      color: #572EE5;
      letter-spacing: 0;
      text-align: center;
      background: white;
    }
  }
}

.hidden {
  display: none;
}
