.gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifs .gifs-logo {
  padding: 5px 0 7px 0;
}

.gifs .gifs-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin: 0;
  margin-bottom: 46px;
}

.favorites__withoutResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorites__withoutResults .heart {
  width: 76px;
  height: 54px;
  padding: 47px 37px;
  border-radius: 50%;
  background: #F3F5F8;
}

.favorites__withoutResults--paragraph {
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  margin-bottom: 70px;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*.button {
        padding: 57px 0 78px;
        &-more {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }*/
}

.view-section_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-section_img .img-gif {
  width: 156px;
  height: 120px;
  padding-bottom: 21px;
}

.view .button {
  padding: 57px 0 78px;
}

.view .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title {
  margin: 0;
  padding-bottom: 31px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  padding-right: 44px;
  padding-left: 45px;
}

.container .title .decoration-title {
  color: #5ED7C6;
}

.container .ilustration {
  margin-left: 51px;
  margin-right: 51px;
  width: 273px;
}

.container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 3.125em;
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
}

.container .search .search-container::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #9CAFC3;
  bottom: 0;
  width: 90%;
  left: 5%;
}

.container .search .search-container {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.125em;
  border-radius: 27px;
}

.container .search .search-container .search-icon-left {
  background-color: white;
  padding: 0;
  border: 27px;
  outline-color: aqua;
  color: darkgray;
  margin-left: 5%;
}

.container .search .search-container .search-input {
  width: 210px;
  border: 0;
  height: 3em;
  font-family: "Roboto", sans-serif;
  margin-left: 55px;
  font-size: 16px;
  text-align: left;
  outline-color: aqua;
}

.container .search .search-container .search-icon-right {
  margin-left: auto;
  margin-right: 1.5em;
  background-color: white;
  padding: 0;
  border: 27px;
  outline-color: aqua;
}

.container .search .search-container .search-icon-right .fa-search {
  width: 20px;
  height: 20px;
  color: #572EE5;
  outline-color: aqua;
}

.container .search .search-container .close-icon {
  cursor: pointer;
  background-color: white;
  padding: 0;
  border: 27px;
  outline-color: aqua;
  color: #572EE5;
  margin-right: 10%;
}

.container .search .search-autocomplete_list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  width: 210px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin-left: 30px;
}

.container .search .search-autocomplete_list .search-autocomplete_items {
  list-style: none;
  margin-bottom: 10px;
}

.container .search .search-autocomplete_list .search-autocomplete_items .autocomplete-selected {
  color: #9CAFC3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.container .search:focus {
  outline: solid #572EE5;
}

.container .trending_topics {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-top: 31px;
  margin-bottom: 45px;
}

.container .trending_topics-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.container .trending_topics-words {
  margin: 0;
  font-size: 14px;
  list-style: none;
  padding: 0 75px;
}

.container .trending_topics .trending_topics-words-list {
  display: inline;
}

.container .trending_topics .trending_topics-words-list .topic_list {
  text-decoration: none;
  color: #572EE5;
}

.container .trending_topics .trending_topics-words-list:nth-child(-n+4)::after {
  content: ', ';
}

.container .searchGif {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .searchGif_results-line {
  width: 250px;
  opacity: 0.5;
  border: 0.1px solid #9CAFC3;
}

.container .searchGif_name {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.container .searchGif .containerGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .searchGif .containerGif .searchGif_container {
  position: relative;
}

.container .searchGif .containerGif .searchGif_container-img {
  width: 156px;
  height: 120px;
}

.container .searchGif .containerGif .searchGif_container .card-gif_link .icon-fav {
  position: absolute;
  top: 10px;
  right: 90px;
  padding: 8px 7px;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  z-index: 10;
}

.container .searchGif .containerGif .searchGif_container .card-gif_link .icon-download {
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 8px 7px;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  z-index: 10;
  margin: 0 10px;
}

.container .searchGif .containerGif .searchGif_container .card-gif_link .icon-max {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 7px;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  z-index: 10;
}

.container .searchGif .containerGif .searchGif_container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #572EE5;
}

.container .searchGif .containerGif .searchGif_container .overlay .information__gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .searchGif .containerGif .searchGif_container .overlay .information__gif--user {
  font-size: 1em;
  color: white;
}

.container .searchGif .containerGif .searchGif_container .overlay .information__gif--title {
  font-size: 1em;
  color: white;
}

.container .searchGif .containerGif .searchGif_container:hover {
  cursor: pointer;
}

.container .searchGif .containerGif .searchGif_container:hover .hidden {
  display: block;
}

.container .searchGif .containerGif .searchGif_container:hover .overlay {
  opacity: 0.6;
}

.container .searchGif .containerGif .searchGif_container:hover .card-gif_link .icon-fav:hover, .container .searchGif .containerGif .searchGif_container:hover .card-gif_link .icon-download:hover, .container .searchGif .containerGif .searchGif_container:hover .card-gif_link .icon-max:hover {
  opacity: 1;
}

.container .button {
  padding: 57px 0 78px;
}

.container .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=section1.css.map */