body {
  margin: 0;
}

.oscuro {
  background: #37383C;
}

.oscuro .init {
  background: #000000;
}

.oscuro .init-navigation {
  background: #37383C;
}

.oscuro .init-navigation .menuToggle {
  background: #37383C;
}

.oscuro .init-navigation .iconToggle::after,
.oscuro .init-navigation .iconToggle::before,
.oscuro .init-navigation .iconToggle .line {
  background: white;
}

.oscuro .init .menu, .oscuro .init .menuInner {
  background: #000000;
}

.oscuro .container .title {
  color: white;
}

.oscuro .container .trending_topics {
  color: white;
}

.oscuro .container .gifs-paragraph {
  color: white;
}

.oscuro .container .search {
  background-color: #37383C;
  border: 1px solid white;
}

.oscuro .container .search .search-container {
  background: #37383C;
}

.oscuro .container .search .search-container .search-input {
  background: #37383C;
  color: white;
}

.oscuro .container .search .search-container .search-icon {
  background-color: #37383C;
}

.oscuro .container .search .search-container .search-icon .fa-search {
  color: white;
}

.oscuro .container .search .search-autocomplete_list {
  background-color: #37383C;
  color: white;
}

.oscuro .gifs-paragraph {
  color: white;
}

.oscuro .view-section_img {
  background: #37383C;
}

.oscuro .view .button .button-more {
  background: #37383C;
  color: white;
  border: 1px solid white;
}

.oscuro .creating__cam--day {
  display: none;
}

.oscuro .creating__cam--night {
  display: inline;
}

.oscuro .creating__written {
  border: 1px solid white;
}

.oscuro .creating__written--title {
  color: white;
}

.oscuro .creating__written--paragraph {
  color: white;
}

.oscuro .creating__options--circle {
  border: 1px solid white;
}

.oscuro .creating__options--circle--number {
  color: white;
}

.oscuro .creating__film--day {
  display: none;
}

.oscuro .creating__film--night {
  display: inline;
  padding-bottom: 1em;
}

.oscuro .creating__written::before {
  background-color: white;
}

.oscuro .creating__button--start {
  border: 1px solid white;
  color: white;
  background: #37383C;
}

.oscuro .gifos {
  background: #000000;
}

.oscuro .gifos .gifos-title, .oscuro .gifos .gifos-paragraph {
  color: white;
}

.oscuro .end {
  background: #000000;
}

.oscuro .end .end-content {
  background: #37383C;
}

.oscuro .end .end-content .end-share, .oscuro .end .end-content .end-author {
  color: white;
}

.init {
  width: 100%;
  height: 100px;
  background: #572EE5;
  padding-top: 5px;
}

.init-navigation {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.init-navigation .logo_mobile {
  padding: 29px 0 17.2px 22px;
}

.init-navigation .menuToggle {
  padding: 47px 27px 34px 0;
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF;
}

.init-navigation .iconToggle {
  width: 15px;
  height: 14px;
  cursor: pointer;
  z-index: 2;
}

.init-navigation .iconToggle::after,
.init-navigation .iconToggle::before,
.init-navigation .iconToggle .line {
  content: '';
  border-radius: 3px;
  display: block;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: #572EE5;
}

.init-navigation .menuInner {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  width: 100%;
  height: 100%;
  top: 100px;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  -webkit-transition: left 250ms ease-in-out;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.init-navigation .menuInner_list {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: center;
}

.init-navigation .menuInner-list::after {
  content: "";
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid white;
  bottom: 0;
  width: 50%;
  left: 25%;
}

.init-navigation .menuInner .create {
  display: none;
}

.init-navigation .menuInner-link, .init-navigation .menuInner-link_style, .init-navigation .menuInner-linkCreate {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  line-height: 60px;
}

.init-navigation .checkbox:checked ~ .menuToggle > .iconToggle:before {
  -webkit-transform: translateY(5px) rotate(135deg);
          transform: translateY(5px) rotate(135deg);
}

.init-navigation .checkbox:checked ~ .menuToggle > .iconToggle:after {
  -webkit-transform: translateY(-5px) rotate(-135deg);
          transform: translateY(-5px) rotate(-135deg);
}

.init-navigation .checkbox:checked ~ .menuToggle > .iconToggle .line {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.init-navigation .checkbox {
  display: none;
}

.init-navigation .checkbox:checked ~ .menu > .menuInner {
  left: 0;
}

.gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifs .gifs-logo {
  padding: 5px 0 7px 0;
}

.gifs .gifs-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin: 0;
  margin-bottom: 46px;
}

.favorites__withoutResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorites__withoutResults .heart {
  width: 76px;
  height: 54px;
  padding: 47px 37px;
  border-radius: 50%;
  background: #F3F5F8;
}

.favorites__withoutResults--paragraph {
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  margin-bottom: 70px;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*.button {
        padding: 57px 0 78px;
        &-more {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }*/
}

.view-section_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-section_img .img-gif {
  width: 156px;
  height: 120px;
  padding-bottom: 21px;
}

.view .button {
  padding: 57px 0 78px;
}

.view .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title {
  margin: 0;
  padding-bottom: 31px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  padding-right: 44px;
  padding-left: 45px;
}

.container .title .decoration-title {
  color: #5ED7C6;
}

.container .ilustration {
  margin-left: 51px;
  margin-right: 51px;
  width: 273px;
}

.container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 3.125em;
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
}

.container .search .search-container::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #9CAFC3;
  bottom: 0;
  width: 90%;
  left: 5%;
}

.container .search .search-container {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3.125em;
  border-radius: 27px;
  /*.autocomplete-items {
        margin-left: 23px;
        position: absolute;
        width: 100%;
        //border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff; 
          border-bottom: 1px solid #d4d4d4; 
        }
      }*/
}

.container .search .search-container .search-input {
  width: 210px;
  border: 0;
  height: 3em;
  font-family: "Roboto", sans-serif;
  margin-left: 55px;
  font-size: 16px;
  text-align: left;
  outline-color: aqua;
}

.container .search .search-container .search-icon {
  margin-left: auto;
  margin-right: 1.5em;
  background-color: white;
  padding: 0;
  border: 27px;
  outline-color: aqua;
}

.container .search .search-container .search-icon .fa-search {
  width: 20px;
  height: 20px;
  color: #572EE5;
  outline-color: aqua;
}

.container .search .search-autocomplete_list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  width: 210px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin-left: 23px;
}

.container .search .search-autocomplete_list .search-autocomplete_items {
  list-style: none;
  margin-bottom: 10px;
}

.container .search .search-autocomplete_list .search-autocomplete_items .autocomplete-selected {
  color: #9CAFC3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
}

.container .search:focus {
  outline: solid #572EE5;
}

.container .trending_topics {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-top: 31px;
  margin-bottom: 45px;
}

.container .trending_topics-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.container .trending_topics-words {
  margin: 0;
  font-size: 14px;
  list-style: none;
  padding: 0 75px;
}

.container .trending_topics .trending_topics-words-list {
  display: inline;
}

.container .trending_topics .trending_topics-words-list .topic_list {
  text-decoration: none;
  color: #572EE5;
}

.container .trending_topics .trending_topics-words-list:nth-child(-n+4)::after {
  content: ', ';
}

.container .searchGif {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .searchGif_results-line {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
}

.container .searchGif_name {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.container .searchGif_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .searchGif_container-img {
  width: 156px;
  height: 120px;
  margin-bottom: 21px;
}

.container .button {
  padding: 57px 0 78px;
}

.container .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

/*.autocomplete {
  position: relative;
  display: inline-block; 
}

input[type=text] {
  width: 100%;
}*/
/*.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}*/
/*.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}*/
.gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifs .gifs-logo {
  padding: 5px 0 7px 0;
}

.gifs .gifs-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin: 0;
  margin-bottom: 46px;
}

.favorites__withoutResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorites__withoutResults .heart {
  width: 76px;
  height: 54px;
  padding: 47px 37px;
  border-radius: 50%;
  background: #F3F5F8;
}

.favorites__withoutResults--paragraph {
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  margin-bottom: 70px;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*.button {
        padding: 57px 0 78px;
        &-more {
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            font-family: $mont;
            font-weight: 700;
            font-size: 13px;
            padding: 18px 31.5px 16px 32.5px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            background: white;
        }
    }*/
}

.view-section_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-section_img .img-gif {
  width: 156px;
  height: 120px;
  padding-bottom: 21px;
}

.view .button {
  padding: 57px 0 78px;
}

.view .button-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

@media screen and (min-width: 375px) {
  .container .searchGif {
    text-align: center;
  }
  .container .searchGif_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .searchGif_container-img {
    width: 156px;
    height: 120px;
    margin: 0 10px 25px 10px;
  }
  .container .search .search-container .search-input {
    width: 420px;
  }
  .creating__written .left__up {
    top: 28%;
    left: 13%;
  }
  .creating__written .right__up {
    top: 28%;
    right: 13%;
  }
  .creating__written .left__down {
    bottom: 43%;
    left: 13%;
  }
  .creating__written .right__down {
    bottom: 43%;
    right: 13%;
  }
  .view-section_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .view-section_img .img-gif {
    padding: 0 0 25px 21px;
  }
}

@media screen and (min-width: 768px) {
  .init {
    width: 100%;
    height: 100px;
    background: #572EE5;
    padding-top: 5px;
  }
  .init-navigation {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .init-navigation .logo_mobile {
    padding: 18px 0 12px 50px;
  }
  .init-navigation .menuToggle,
  .init-navigation .iconToggle,
  .init-navigation .iconToggle::after,
  .init-navigation .iconToggle::before,
  .init-navigation .line {
    display: none;
  }
  .init-navigation .menuInner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    height: 80px;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  .init-navigation .menuInner_list {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    width: auto;
    padding-left: 50px;
  }
  .init-navigation .menuInner-link, .init-navigation .menuInner-link_style {
    margin: 36px 0 38px 0;
    font-size: 13px;
    color: #572EE5;
    text-transform: uppercase;
  }
  .init-navigation .menuInner-link:hover, .init-navigation .menuInner-link_style:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .init-navigation .menuInner-link:active, .init-navigation .menuInner-link_style:active {
    color: #9CAFC3;
    border-bottom: 0;
  }
  .init-navigation .menuInner-linkCreate {
    display: none;
  }
  .init-navigation .menuInner .create {
    display: inline-block;
    background: #FFFFFF;
    padding: 19px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    margin: 0 50px 0 60px;
    padding-top: 18px;
  }
  .init-navigation .menuInner .create:hover {
    background: #572EE5;
    color: white;
  }
  .init-navigation .menuInner .create:active {
    background: #9CAFC3;
    border: 1px solid #9CAFC3;
  }
  .container .title {
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    width: 570px;
    padding: 0;
    margin: 76px 0 24px 0;
  }
  .container .ilustration {
    width: 399px;
  }
  .container .search {
    width: 551px;
  }
  .container .searchGif_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .container .searchGif_container-img {
    max-width: 200px;
    height: 150px;
  }
  .container .trending_topics {
    margin-top: 73px;
    margin-bottom: 95px;
  }
  .container .trending_topics-title {
    font-size: 18px;
  }
  .container .trending_topics-words {
    font-size: 16px;
  }
  .gifs-logo {
    padding: 11px 0 8px 0;
  }
  .gifs-paragraph {
    margin-bottom: 36px;
  }
  .favorites__withoutResults--paragraph {
    width: 430px;
    font-size: 22px;
    margin-bottom: 140px;
  }
  .gifos .gifos-title {
    font-size: 25px;
  }
  .gifos .gifos-paragraph {
    font-size: 18px;
  }
  .gifos .card .card-container {
    height: 275px;
    margin: 0 0 182px 28px;
  }
  .gifos .card .card-container .card-gif {
    width: 357px;
    height: 275px;
  }
  .creating__written--border {
    width: 20px;
    height: 20px;
  }
  .creating__written .left__up {
    top: 23%;
    left: 12%;
  }
  .creating__written .right__up {
    top: 23%;
    right: 12%;
  }
  .creating__written .left__down {
    bottom: 35%;
    left: 12%;
  }
  .creating__written .right__down {
    bottom: 35%;
    right: 12%;
  }
  .creating__line::after {
    top: 88%;
  }
  .oscuro .init-navigation {
    background: #37383C;
  }
  .oscuro .init-navigation .menu {
    background: #37383C;
  }
  .oscuro .init-navigation .menu .menuInner {
    background: #37383C;
  }
  .oscuro .init-navigation .menu .menuInner-link, .oscuro .init-navigation .menu .menuInner-link_style {
    color: white;
  }
  .oscuro .init-navigation .menu .menuInner .create {
    background: #37383C;
    border: 1px solid white;
    color: white;
  }
  .end {
    height: 121px;
  }
  .end-content {
    height: 116px;
    padding: 0;
    font-size: 13px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .end-content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .end-content .info .end-share {
    margin: 0;
    margin-right: 17px;
  }
  .end-content .info .end-icons .end-link {
    color: #CDD6E0;
  }
  .end-content .info .end-icons .end-link .fab {
    width: 20px;
    height: 20px;
  }
  .end-content .info .end-icons .end-link .fa-twitter {
    padding: 0 19px 0 19px;
  }
  .end-content .info .end-icons .end-link:hover {
    color: #572EE5;
  }
  .end-content .end-author {
    font-size: 13px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1024px) {
  .init-navigation .logo_mobile {
    padding: 18px 0 12px 156px;
  }
  .container .searchGif_container-img {
    width: 260px;
    height: 200px;
  }
  .creating {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 1fr 220px;
        grid-template-columns: 220px 1fr 220px;
    -ms-grid-rows: 390px 75px 97px;
        grid-template-rows: 390px 75px 97px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "cam written ." ". options film" ". btn .";
  }
  .creating__cam {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cam;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__written {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: written;
    margin-top: 4px;
    width: 100%;
    max-width: 688px;
    height: 386px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__written .left__up {
    top: 3%;
    left: 23%;
  }
  .creating__written .right__up {
    top: 3%;
    right: 23%;
  }
  .creating__written .left__down {
    bottom: 33%;
    left: 23%;
  }
  .creating__written .right__down {
    bottom: 33%;
    right: 23%;
  }
  .creating__written--title {
    padding: 134px 68px 3px 70px;
    font-size: 25px;
    margin: 0;
  }
  .creating__written--paragraph {
    font-size: 16px;
  }
  .creating__options {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: options;
    padding: 24px 0 19px 0;
  }
  .creating__film {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: film;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__line::after {
    top: 83%;
    width: 64%;
    left: 18%;
  }
  .creating__button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .creating {
    -ms-grid-columns: 220px 688px 220px;
        grid-template-columns: 220px 688px 220px;
  }
  .creating__film {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__line::after {
    width: 54%;
    left: 23%;
  }
  .creating__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.creating {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creating__cam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.creating__cam--night {
  display: none;
}

.creating__written {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 300px;
  border: 1px solid #572EE5;
}

.creating__written--border {
  width: 15px;
  height: 15px;
}

.creating__written .left__up {
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  position: absolute;
  top: 26.5%;
  left: 15%;
}

.creating__written .right__up {
  border-top: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  position: absolute;
  top: 26.5%;
  right: 15%;
}

.creating__written .left__down {
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  position: absolute;
  bottom: 41%;
  left: 15%;
}

.creating__written .right__down {
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  position: absolute;
  bottom: 41%;
  right: 15%;
}

.creating__written .video {
  padding: 2em;
}

.creating__written--title {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
  margin-bottom: 1em;
}

.creating__written--titleDecoration {
  color: #5ED7C6;
}

.creating__written--paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding-bottom: 1em;
}

.creating__written--paragraph .breakpoint::before {
  content: '\A';
  white-space: pre;
}

.creating__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creating__options--circle {
  margin: 10px;
  border: 1px solid #572EE5;
  border-radius: 50%;
  padding: 6px 10px;
}

.creating__options--circle .number {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #572EE5;
  font-weight: 500;
  text-align: center;
  margin: 0;
  border: 0;
}

.creating__options .active {
  margin: 10px;
  border-radius: 50%;
  padding: 6px 10px;
  background: #572EE5;
}

.creating__options .active .number {
  color: white;
}

.creating .creating__timer--repeat .creating__repeat {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  border-bottom: 2px solid #5ED7C6;
}

.creating__film {
  position: relative;
  margin: 1em;
}

.creating__film--day {
  padding-bottom: 1em;
}

.creating__film--night {
  display: none;
}

.creating__line::after {
  content: '';
  position: absolute;
  top: 85%;
  left: 7%;
  width: 85%;
  height: 7px;
  background-color: #572EE5;
  bottom: 0;
}

.creating__button {
  padding: 20px 0;
}

.creating__button--options {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 31.5px 16px 32.5px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  background: white;
}

.gifos {
  background: #F3F5F8;
  margin: 0;
}

.gifos .gifos-title {
  margin-top: 0;
  padding-top: 46px;
  padding-bottom: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.gifos .gifos-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  padding-bottom: 32px;
  margin: 0;
}

.gifos .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
}

.gifos .card .card-container {
  position: relative;
  margin: 0 0 82px 22px;
}

.gifos .card .card-container .card-gif {
  width: 243px;
  height: 187px;
}

.gifos .card .card-container .card-gif_link .icon-fav {
  position: absolute;
  top: 10px;
  right: 90px;
  padding: 8px 7px;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  z-index: 10;
}

.gifos .card .card-container .card-gif_link .icon-download {
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 8px 7px;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  z-index: 10;
  margin: 0 10px;
}

.gifos .card .card-container .card-gif_link .icon-max {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 7px;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  z-index: 10;
}

.gifos .card .card-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #572EE5;
}

.gifos .card .card-container:hover {
  cursor: pointer;
}

.gifos .card .card-container:hover .hidden {
  display: block;
}

.gifos .card .card-container:hover .overlay {
  opacity: 0.6;
}

.gifos .card .card-container:hover .card-gif_link .icon-fav:hover, .gifos .card .card-container:hover .card-gif_link .icon-download:hover, .gifos .card .card-container:hover .card-gif_link .icon-max:hover {
  opacity: 1;
}

.end {
  height: 201px;
  background: #572EE5;
}

.end-content {
  padding: 47px 0 23px 0;
  background: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-content .info .end-share {
  margin: 0;
  margin-bottom: 24px;
}

.end-content .info .end-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end-content .info .end-icons .end-link {
  color: #CDD6E0;
}

.end-content .info .end-icons .end-link .fab {
  width: 18px;
  height: 16.2;
}

.end-content .info .end-icons .end-link .fa-twitter {
  padding: 0 19px 47.8px 19px;
}

.end-content .end-author {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

@media screen and (min-width: 375px) {
  .container .searchGif {
    text-align: center;
  }
  .container .searchGif_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .searchGif_container-img {
    width: 156px;
    height: 120px;
    margin: 0 10px 25px 10px;
  }
  .container .search .search-container .search-input {
    width: 420px;
  }
  .creating__written .left__up {
    top: 28%;
    left: 13%;
  }
  .creating__written .right__up {
    top: 28%;
    right: 13%;
  }
  .creating__written .left__down {
    bottom: 43%;
    left: 13%;
  }
  .creating__written .right__down {
    bottom: 43%;
    right: 13%;
  }
  .view-section_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .view-section_img .img-gif {
    padding: 0 0 25px 21px;
  }
}

@media screen and (min-width: 768px) {
  .init {
    width: 100%;
    height: 100px;
    background: #572EE5;
    padding-top: 5px;
  }
  .init-navigation {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .init-navigation .logo_mobile {
    padding: 18px 0 12px 50px;
  }
  .init-navigation .menuToggle,
  .init-navigation .iconToggle,
  .init-navigation .iconToggle::after,
  .init-navigation .iconToggle::before,
  .init-navigation .line {
    display: none;
  }
  .init-navigation .menuInner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    height: 80px;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  .init-navigation .menuInner_list {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    width: auto;
    padding-left: 50px;
  }
  .init-navigation .menuInner-link, .init-navigation .menuInner-link_style {
    margin: 36px 0 38px 0;
    font-size: 13px;
    color: #572EE5;
    text-transform: uppercase;
  }
  .init-navigation .menuInner-link:hover, .init-navigation .menuInner-link_style:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .init-navigation .menuInner-link:active, .init-navigation .menuInner-link_style:active {
    color: #9CAFC3;
    border-bottom: 0;
  }
  .init-navigation .menuInner-linkCreate {
    display: none;
  }
  .init-navigation .menuInner .create {
    display: inline-block;
    background: #FFFFFF;
    padding: 19px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    margin: 0 50px 0 60px;
    padding-top: 18px;
  }
  .init-navigation .menuInner .create:hover {
    background: #572EE5;
    color: white;
  }
  .init-navigation .menuInner .create:active {
    background: #9CAFC3;
    border: 1px solid #9CAFC3;
  }
  .container .title {
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    width: 570px;
    padding: 0;
    margin: 76px 0 24px 0;
  }
  .container .ilustration {
    width: 399px;
  }
  .container .search {
    width: 551px;
  }
  .container .searchGif_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .container .searchGif_container-img {
    max-width: 200px;
    height: 150px;
  }
  .container .trending_topics {
    margin-top: 73px;
    margin-bottom: 95px;
  }
  .container .trending_topics-title {
    font-size: 18px;
  }
  .container .trending_topics-words {
    font-size: 16px;
  }
  .gifs-logo {
    padding: 11px 0 8px 0;
  }
  .gifs-paragraph {
    margin-bottom: 36px;
  }
  .favorites__withoutResults--paragraph {
    width: 430px;
    font-size: 22px;
    margin-bottom: 140px;
  }
  .gifos .gifos-title {
    font-size: 25px;
  }
  .gifos .gifos-paragraph {
    font-size: 18px;
  }
  .gifos .card .card-container {
    height: 275px;
    margin: 0 0 182px 28px;
  }
  .gifos .card .card-container .card-gif {
    width: 357px;
    height: 275px;
  }
  .creating__written--border {
    width: 20px;
    height: 20px;
  }
  .creating__written .left__up {
    top: 23%;
    left: 12%;
  }
  .creating__written .right__up {
    top: 23%;
    right: 12%;
  }
  .creating__written .left__down {
    bottom: 35%;
    left: 12%;
  }
  .creating__written .right__down {
    bottom: 35%;
    right: 12%;
  }
  .creating__line::after {
    top: 88%;
  }
  .oscuro .init-navigation {
    background: #37383C;
  }
  .oscuro .init-navigation .menu {
    background: #37383C;
  }
  .oscuro .init-navigation .menu .menuInner {
    background: #37383C;
  }
  .oscuro .init-navigation .menu .menuInner-link, .oscuro .init-navigation .menu .menuInner-link_style {
    color: white;
  }
  .oscuro .init-navigation .menu .menuInner .create {
    background: #37383C;
    border: 1px solid white;
    color: white;
  }
  .end {
    height: 121px;
  }
  .end-content {
    height: 116px;
    padding: 0;
    font-size: 13px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .end-content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .end-content .info .end-share {
    margin: 0;
    margin-right: 17px;
  }
  .end-content .info .end-icons .end-link {
    color: #CDD6E0;
  }
  .end-content .info .end-icons .end-link .fab {
    width: 20px;
    height: 20px;
  }
  .end-content .info .end-icons .end-link .fa-twitter {
    padding: 0 19px 0 19px;
  }
  .end-content .info .end-icons .end-link:hover {
    color: #572EE5;
  }
  .end-content .end-author {
    font-size: 13px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1024px) {
  .init-navigation .logo_mobile {
    padding: 18px 0 12px 156px;
  }
  .container .searchGif_container-img {
    width: 260px;
    height: 200px;
  }
  .creating {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 1fr 220px;
        grid-template-columns: 220px 1fr 220px;
    -ms-grid-rows: 390px 75px 97px;
        grid-template-rows: 390px 75px 97px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "cam written ." ". options film" ". btn .";
  }
  .creating__cam {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cam;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__written {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: written;
    margin-top: 4px;
    width: 100%;
    max-width: 688px;
    height: 386px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__written .left__up {
    top: 3%;
    left: 23%;
  }
  .creating__written .right__up {
    top: 3%;
    right: 23%;
  }
  .creating__written .left__down {
    bottom: 33%;
    left: 23%;
  }
  .creating__written .right__down {
    bottom: 33%;
    right: 23%;
  }
  .creating__written--title {
    padding: 134px 68px 3px 70px;
    font-size: 25px;
    margin: 0;
  }
  .creating__written--paragraph {
    font-size: 16px;
  }
  .creating__options {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: options;
    padding: 24px 0 19px 0;
  }
  .creating__film {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: film;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .creating__line::after {
    top: 83%;
    width: 64%;
    left: 18%;
  }
  .creating__button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .creating {
    -ms-grid-columns: 220px 688px 220px;
        grid-template-columns: 220px 688px 220px;
  }
  .creating__film {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .creating__line::after {
    width: 54%;
    left: 23%;
  }
  .creating__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */